CONTENT

A. Importing libraries
B. Importing dataframe

TASK10 - PART 1

Question 2. Addressing security implications

Question 3. Creating a regional segmentation of the data

Question 4. Creating an exclusion flag for low-activity customers

Question 5. Creating customer profiling (based on age, income, goods in department_id, and number of dependents)

Question 6. Creating visualizations

Question 7. Aggregating the max, mean, and min variables on a customer-profile level

Question 8. Comparing customer profiles with regions and departments

Question 9. More charts/Viz

C. Exporting Data

# Importing libraries

In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# Importing dataframe

In [3]:
# Creating path
path=r'/Users/urvi/Desktop/Instacart Basket Analysis/'

In [4]:
# Importing dataframe
df_final= pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data','orders_products_all.pkl'))

In [5]:
# Checking the dataset
df_final.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,order frequency flag,First Name,Last Name,Gender,State,Age,date_joined,Number of Dependents,Familial Status,income
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
2,907,Premium Sliced Bacon,106,12,20.0,3160996,138,1,5,13,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
3,907,Premium Sliced Bacon,106,12,20.0,2254091,138,10,5,14,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
4,1000,Apricots,18,10,12.9,505689,138,9,6,12,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620

In [6]:
# Checking the columns
df_final.columns.values.tolist()

['product_id',
 'product_name',
 'aisle_id',
 'department_id',
 'prices',
 'order_id',
 'user_id',
 'order_number',
 'orders_day_of_week',
 'order_hour_of_day',
 'days_since_prior_order',
 'first_order',
 'add_to_cart_order',
 'reordered',
 'price_range_loc',
 'busiest_day',
 'busiest_days',
 'busiest_period_of_day',
 'max_order',
 'loyalty_flag',
 'average spent',
 'spending flag',
 'regularity',
 'order frequency flag',
 'First Name',
 'Last Name',
 'Gender',
 'State',
 'Age',
 'date_joined',
 'Number of Dependents',
 'Familial Status',
 'income']

# Task Exercises

### Question 2

Consider any security implications that might exist for this new data. You’ll need to address any PII data in the data before continuing your analysis.

The dataframe "customers" did not include the PII (Personally Identifiable Information) data, specifically the columns "first_name" and "surname," in the final merged dataframe. As a result, potential security concerns were mitigated

### Question 3

The Instacart officers are interested in comparing customer behavior in different geographic areas. Create a regional segmentation of the data. You’ll need to create a “Region” column based on the “State” column from your customers data set.

In [35]:
# Creating new column to place results of aggregation

df_final['regions'] = df_final.groupby(['user_id'])['State'].transform(np.max)

/var/folders/fb/0vs0bt4n7g7bbt5lxwgg4ng80000gn/T/ipykernel_6016/228818702.py:3: FutureWarning: The provided callable <function max at 0x111d61080> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_final['regions'] = df_final.groupby(['user_id'])['State'].transform(np.max)

Following the recommendation from the previous exercise, I attempted to use ".transform('mean')" in place of ".transform(np.max)". Unfortunately, this resulted in an error, preventing the code from executing. Consequently, I reverted to the previously utilized code.

In [36]:
df_final.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,Last Name,Gender,State,Age,date_joined,Number of Dependents,Familial Status,income,regions,average_spending
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,Minnesota,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,Minnesota,6.935811
2,907,Premium Sliced Bacon,106,12,20.0,3160996,138,1,5,13,...,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,Minnesota,6.935811
3,907,Premium Sliced Bacon,106,12,20.0,2254091,138,10,5,14,...,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,Minnesota,6.935811
4,1000,Apricots,18,10,12.9,505689,138,9,6,12,...,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,Minnesota,6.935811

In [42]:
# Creating list for Northeast

Northeast = { 'Maine','New Hampshire','Vermont','Massachusetts','Rhode Island','Connecticut', 'New York', 'Pennsylvania', 'New Jersey'}

In [43]:
# Assigning Northeast

df_final.loc[df_final['State'].isin(Northeast), 'regions'] = 'Northeast'

In [44]:
# Creating list for Midwest

Midwest = {'Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri'}

In [45]:
# Assigning Midwest

df_final.loc[df_final['State'].isin(Midwest), 'regions'] = 'Midwest'

In [46]:
# Creating list for South

South = {'Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana'}

In [47]:
# Assigning South

df_final.loc[df_final['State'].isin(South), 'regions'] = 'South'

In [48]:
# Creating list for West

West = {'Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii'}

In [49]:
# Assigning West

df_final.loc[df_final['State'].isin(West), 'regions'] = 'West'

In [50]:
df_final.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,Last Name,Gender,State,Age,date_joined,Number of Dependents,Familial Status,income,regions,average_spending
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,Midwest,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,Midwest,6.935811
2,907,Premium Sliced Bacon,106,12,20.0,3160996,138,1,5,13,...,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,Midwest,6.935811
3,907,Premium Sliced Bacon,106,12,20.0,2254091,138,10,5,14,...,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,Midwest,6.935811
4,1000,Apricots,18,10,12.9,505689,138,9,6,12,...,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,Midwest,6.935811

In [51]:
# Creating a new spending column to place results of aggregation

df_final['average_spending'] = df_final.groupby(['user_id'])['prices'].transform(np.mean)

/var/folders/fb/0vs0bt4n7g7bbt5lxwgg4ng80000gn/T/ipykernel_6016/3347799908.py:3: FutureWarning: The provided callable <function mean at 0x111d61a80> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_final['average_spending'] = df_final.groupby(['user_id'])['prices'].transform(np.mean)

In [53]:
# Creating subset to calculate the frequency

df_subset_regions_spending = df_final[['regions', 'spending flag']]

In [54]:
df_subset_regions_spending.head()

   regions spending flag
0  Midwest   Low spender
1  Midwest   Low spender
2  Midwest   Low spender
3  Midwest   Low spender
4  Midwest   Low spender

In [55]:
# Calculating the frequency 
result = df_final.groupby('regions')['spending flag'].value_counts()

In [56]:
result

regions    spending flag
Midwest    Low spender       7441350
           High spender       155975
Northeast  Low spender       5614511
           High spender       108225
South      Low spender      10582194
           High spender       209691
West       Low spender       8132559
           High spender       160354
Name: count, dtype: int64

In [57]:
# Trying another way to calculate the frequency with a crosstab 

result2 = pd.crosstab(df_subset_regions_spending['regions'], df_subset_regions_spending['spending flag'])

In [58]:
result2

spending flag  High spender  Low spender
regions
Midwest              155975      7441350
Northeast            108225      5614511
South                209691     10582194
West                 160354      8132559

It appears that when examining spending habits, there is no significant variation across different U.S. regions. The data indicates that, in all regions, the number of "low_spender" individuals substantially exceeds that of "high_spender" individuals.

### Question 4

The Instacart CFO isn’t interested in customers who don’t generate much revenue for the app. Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them from the data.

In [ ]:
# Creating new column to place results of aggregation 

df_final['low_activity_flag'] = df_final.groupby(['user_id'])['max_order'].transform(np.max)

In [ ]:
# Using loc to create the conditions 

df_final.loc[df_final['max_order'] < 5, 'low_activity_flag'] = 'low_activity_customer'

In [ ]:
#U sing loc to create the conditions 

df_final.loc[df_final['max_order'] >= 5, 'low_activity_flag'] = 'high_activity_customer'

In [ ]:
df_final.head()

In [ ]:
df_filtered = df_final[df_final['low_activity_flag'] == 'high_activity_customer']

In [ ]:
# Creating a subset with only the high activity customers

df_final_filtered = df_final[df_final['low_activity_flag'] == 'high_activity_customer']

In [ ]:
df_final.shape

In [ ]:
df_final_filtered.shape

In [ ]:
# Renaming the column

df_final_filtered.rename(columns= {'low_activity_flag' : 'activity_flag'}, inplace = True)

In [ ]:
df_final_filtered.head()

In [ ]:
#Exporting df_final_filtered

df_final_filtered.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_final_filtered.pkl'))

### Question 5

The marketing and business strategy units at Instacart want to create more-relevant marketing strategies for different products and are, thus, curious about customer profiling in their database. Create a profiling variable based on age, income, certain goods in the “department_id” column, and number of dependents. You might also use the “orders_day_of_week” and “order_hour_of_day” columns if you can think of a way they would impact customer profiles.

In [ ]:
# Changing name df

df_filtered = df_final_filtered

In [ ]:
# Importing Dataframe (just for checking, Departments)

df_departments = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'), index_col = False)

In [ ]:
df_departments.head(22)

In [ ]:
df_filtered.head()

### PROFILE 1: Pet Parents

In [ ]:
# Creating the new column for the aggregation

df_filtered['pet_parent'] = df_filtered.groupby(['user_id'])['order_number'].transform(np.max)

In [ ]:
# Filtering the customers that purchased pet products

df_pets = df_filtered[df_filtered['department_id'] == 8]

In [ ]:
# Creating new column for pet parents -- type False/True

df_filtered['is_pet_parent'] = df_filtered['user_id'].isin(df_pets['user_id'])

In [ ]:
df_filtered.head()

In [ ]:
# Creating a boxplot for pet_parent/ income

box_pet_income = sns.boxplot(x='is_pet_parent', y='income', data=df_filtered)

In this analysis, the aim was to contrast the income levels of pet owners against those of other clients. It was observed that pet owners generally have a marginally higher income compared to the rest of the client base. Additional investigation is warranted to understand this trend further.

In [ ]:
# Exporting the box plot
box_pet_income.figure.savefig(os.path.join(path, '04 Analysis','Visualizations','Final 4.10', 'box_pet_income.png'))

###  PROFILE 2: Alcohol

In [ ]:
# Creating new column for the aggregation

df_filtered['alcohol_consumption'] = df_filtered.groupby(['user_id'])['order_number'].transform(np.max)

In [ ]:
# Filtering the customers that purchased alcohol

df_alcohol = df_filtered[df_filtered['department_id'] == 5]

In [ ]:
# Creating new column - type False/True

df_filtered['Consume_alcohol'] = df_filtered['user_id'].isin(df_alcohol['user_id'])

###  PROFILE 3: Young parent

In [ ]:
# Creating new column for the aggregation

df_filtered['babies_products'] = df_filtered.groupby(['user_id'])['order_number'].transform(np.max)

In [ ]:
# Filtering the customers that purchased babies' products

df_babies = df_filtered[df_filtered['department_id'] == 18]

In [ ]:
# Creating new column - type False/True

df_filtered['young_parents'] = df_filtered['user_id'].isin(df_babies['user_id'])

### QUESTION 6

Create an appropriate visualization to show the distribution of profiles.

In [ ]:
#Counting the ocurrence of the profiles (and all users)

profile_counts = df_filtered[['is_pet_parent', 'Consume_alcohol', 'young_parents']].sum()

In [ ]:
# Creating a bar chart for the distribuition of pet parents vs people who consume alcohol

bar_chart_profiles = sns.barplot(x=profile_counts.index, y=profile_counts.values)

In [ ]:
# Exporting the bar chart

bar_chart_profiles.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'Final 4.10', 'bar_chart_profiles.png'))

### QUESTION 7 

Aggregate the max, mean, and min variables on a customer-profile level for usage frequency and expenditure.

In [ ]:
# Creating a column to store the profiles, and setting the default to "others"

df_filtered['customer_profile'] = 'other'

In [ ]:
# Store the profiles - pet

df_filtered.loc[df_filtered['is_pet_parent'], 'customer_profile'] = 'pet-owner'

In [ ]:
# Creating a column to store the profiles -- alcohol

df_filtered.loc[df_filtered['Consume_alcohol'], 'customer_profile'] = 'alcohol-consumption'

In [ ]:
# Creating a column to store the profiles -- young parents

df_filtered.loc[df_filtered['young_parents'], 'customer_profile'] = 'young_parents'

In [ ]:
# Checking the frequency

df_filtered['customer_profile'].value_counts(dropna = False)

In [ ]:
df_filtered.shape

In [ ]:
df_filtered.head()

In [ ]:
#Checking basic statistic per customer-profile for usage frequency

df_filtered.groupby('customer_profile').agg({'days_since_prior_order': ['mean', 'min', 'max']})

### QUESTION 8

Compare your customer profiles with regions and departments. Can you identify a link between them? Customers may demonstrate different behaviors across regions, which could make this information important.

#### 1. GROUPED BY REGION

In [ ]:
# Grouping data based on profile and region 

grouped_regions = df_filtered.groupby(['customer_profile', 'regions'])

##### ORDER HOUR OF DAY

In [ ]:
# Calculating the statistics

stat_hour_day = grouped_regions.agg({'order_hour_of_day': ['min', 'max', 'mean']})

In [ ]:
stat_hour_day

The analysis indicates no notable variation in activity by the hour of the day across different regions and customer profiles according to the data.

##### ORDER DAY OF THE WEEK

In [ ]:
# Calculating the statistics

stat_day_week = grouped_regions.agg({'orders_day_of_week': ['min', 'max', 'mean']})

In [ ]:
stat_day_week

##### DAYS SINCE PRIOR ORDER

In [ ]:
# Calculating the statistics

stat_since_prior_order = grouped_regions.agg({'days_since_prior_order': ['min', 'max', 'mean']})

In [ ]:
stat_since_prior_order

The analysis reveals distinct patterns among customer profiles. Specifically, young parents in all four regions show a consistently shorter interval since their last order compared to other regions or profiles. This insight could prove valuable for marketing strategies and inventory planning.

#### 1. GROUPED BY DEPARTMENT

In [ ]:
# Grouping data based on profile and department

grouped_department = df_filtered.groupby(['customer_profile','department_id'])

#### DAYS SINCE PRIOR ORDER

In [ ]:
# Calculating the statistics
stat_prior_order_dep = grouped_department.agg({'days_since_prior_order': ['min', 'max', 'mean']})

In [ ]:
# Allowing jupyter to show all rows

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [ ]:
stat_prior_order_dep

In [ ]:
# Reseting 

pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

The data clearly shows that young parents have a significantly lower average number of days since their last order compared to other customer profiles, across various departments.

In [ ]:
# Further checking - grouping by customer profiles

grouped_profiles = df_filtered.groupby('customer_profile')

In [ ]:
# Further checking - calculating stats

mean = grouped_profiles['days_since_prior_order'].mean()

In [ ]:
mean

This evidence solidifies that young parents consistently log a substantially shorter average interval since their previous order compared to other customer profiles.

### Question 9 

Creating charts o illustrate results

In [ ]:
# Creating bar chart to demonstrate how lower is the mean of young parents in terms of days since prior order 

bar_days_since_by_profile = mean.plot(kind='bar', color='green')
plt.tight_layout(pad=3.0, h_pad=1.0, w_pad=1.0)

In [ ]:
# Exporting the chart
bar_days_since_by_profile.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'Final 4.10', 'bar_days_since_by_profile.png'))

In [ ]:
# Creating a boxplot
boxplot_days_since_profile = sns.boxplot(data=df_filtered, x='customer_profile', y='days_since_prior_order', palette='PuBuGn')

# Rotate x-axis for readability
plt.xticks(rotation=45)  

#Adjust label space
plt.tight_layout(pad=3.0, h_pad=1.0, w_pad=1.0)

In [ ]:
# Exporting the chart
boxplot_days_since_profile.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'Final 4.10', 'boxplot_days_since_profile.png'))

This chart further illustrates the reduced average days since the last order for young adults and also highlights several upper outliers within this customer profile.

# Exporting Dataframe

In [ ]:
# Exporting dataframe

df_filtered.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_filtered10.pkl'))