# 4.6.2 Combining & Exporting Data
## This script contains the following points:
1. Import the data sets into Jupyter
2. Check the dimensions of the imported dataframes
3. Determine a suitable way to combine the orders_products_combined dataframe with the products data set
4. Confirm the results of the merge using the merge flag
5. Export the newly created dataframe as ords_prods_merge in a suitable formatÂ¶

## 01. Imporing Libraries

In [14]:
import pandas as pd
import numpy as np
import os

## 02. Importing Datasets

In [15]:
# Telling python to remember a main folder path
path=r'/Users/urvi/Desktop/Instacart Basket Analysis'
path

'/Users/urvi/Desktop/Instacart Basket Analysis'

In [16]:
# Import dataset orders_products_combined.pkl
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [17]:
# Import dataset products_checked.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

## 03. Checking the dimensions of the datasets

In [18]:
# Check the output
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [19]:
df_ords_prods_combined.shape

(32434489, 11)

In [20]:
# Checking the output 
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [21]:
# Dropping unnecessary columns
df_prods = df_prods.drop(['Unnamed: 0'], axis=1)

In [22]:
# Checking for output
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [23]:
df_prods.shape

(49672, 5)

## 04. Determine a suitable way to combine the orders_products_combined dataframe with the products data set

A practical approach to combine the df_ords_prods_combined dataframe with the df_prods dataframe, given their disparate structures, involves executing a merge operation based on their common column, "product_id". For the objectives of this project, employing a default inner join is recommended.

In [24]:
df_ords_prods_merge = df_prods.merge(df_ords_prods_combined, on = 'product_id', indicator = True)

ValueError: Cannot use name of an existing column for indicator column

I think the problem here is that the column "merge" already exists in the df_ords_prods_combined dataframe. Therefore, I have to drop it from the dataframe before operating the merging procedure.

In [25]:
# Dropping unnecessary columns
df_ords_prods_combined=df_ords_prods_combined.drop(['_merge'],axis=1)

In [26]:
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,True,196,1,0
1,2539329,1,1,2,8,NaN,True,14084,2,0
2,2539329,1,1,2,8,NaN,True,12427,3,0
3,2539329,1,1,2,8,NaN,True,26088,4,0
4,2539329,1,1,2,8,NaN,True,26405,5,0

In [27]:
df_ords_prods_combined.shape

(32434489, 10)

In [28]:
# Merging the updated dataframes
df_ords_prods_merge = df_prods.merge(df_ords_prods_combined, on = 'product_id', indicator = True)

In [29]:
# Checking the output
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both

In [30]:
df_ords_prods_merge.shape

(32404859, 15)

## 0.5. Confirm the results of the merge using the merge flag

In [31]:
df_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

## 0.6. Exporting dataframes

In [33]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))